spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://<ip:port>/paste
    username: <username>
    password: <password>
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB

paste:
  code-length: 6
  expire-minutes: 15
  max-retries: 10
  upload-path: /root/paste/files

logging:
  file:
    name: logs/paste.log
  level:
    root: INFO